<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header class="container">
     <div class="logo">ini judul</div>
     <div class="menu">
        <ul>
            <li>home</li>
            <li>about us</li>
            <li>product</li>
        </ul>
     </div>
   </header>
   
   <section id="hero" class="container">
        <table border="1">
            <tr>
                <td>no</td>
                <td>nama</td>
                <td>tempat  </td>
                <td>harga</td>
            </tr>
            <tr>
                <td>1</td>
                <td>kevin</td>
                <td>MOI</td>
                <td>10000</td>
            </tr>
        </table>
        <table >
            <tr>
                <td>harga</td>
                <td><input type="number"></td>
                <td> </td>
                <td>harga</td>
            </tr>
            <tr>
                <td>harga</td>
                <td><input type="number"></td>
                <td></td>
                <td>10000</td>
            </tr>
        </table>
   </section>

</body>
</html>